
.contentContainer {
    position: relative;
    width: 100%;
    padding-top: 90px; /* Adjust based on the height of the top image */
    padding-bottom: 90px; /* Adjust based on the height of the bottom image */
    
  
  }
  
  .contentBox{
    max-width: 745px;
    border-left: 42px solid #301c11;
    border-right: 44px solid #301c11;
  }
  
  .contentContainer:before,
  .contentContainer:after{
    content: "";
    display: block;
    width: 100%;
    height: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
  }
  
  .contentContainer:before{
    background: url('/content-top.svg') no-repeat center center;
  }
  .contentContainer:after{
    background: url('/content-bottom.svg') no-repeat center center;
  }
  