.mobileNav {
  display: flex;
  justify-content: space-between;
}

.navList {
  font-size: 1rem;
}

.navList li {
  font-size: 1rem;
  font-family: var(--arvo-font);
}

.navListItem {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: var(--arvo-font);
}

.navLink{
      font-size: 18px;

}