.mobileNav {
  display: flex;
  justify-content: space-between;
}

.navList {
  font-size: 1rem;
}

.navList li {
  font-size: 1rem;
  font-family: var(--arvo-font);
  margin-bottom: 1rem;
}

.navListItem {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: var(--arvo-font);
}

.navLink{
      font-size: 19px;

}

.navButton {
  background-color: #2b1507;
  font-family: var(--arvo-font);
  height: 60px;
  padding: 0 20px;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}