.nav {
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-image: url(/Nav-Menu.svg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1rem;
    top: 0;
    width: 1200px;
    height: 120px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
  }
  
  .navList {
    color: #fff;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  .navItem {
    font-family: 'Arvo', serif;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .navItem:hover {
    color: #f8c24c;
  }

  .navLogo{
    position: relative;
    z-index: 20;
    overflow: visible;
  }

  
  
  .navLink:hover {
    text-decoration: underline;
  }

  .navItem{
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin: 6rem 4rem;
    padding: 5px;
  }