
 /* video background */
.videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  width: 1200px;
  min-height: 400px;
  display: flex;
  justify-content: flex-end;
}

.homeBanner{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: auto;
  background-image: url('/home-flag.svg');
  background-repeat: no-repeat;
  margin-top: -5rem;
  padding: 20px;
}

.ryeFont {
  font-family: var(--rye);
  font-size: 24px;
}
.startingAt{
  font-family: var(--arvo-font);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px; 
}

.stayClean{
  margin-bottom: 5px;
  font-family: var(--arvo-font);
  font-size: 13px;
}

.bannerPrice{
  font-family: var(--rye);
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 5px;
  
}

.bannerBtn{
  margin-top: 10px;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.contentP{
  font-family: var(--arvo-font);
  padding: 10px 40px;
  font-size: 16px;
  line-height: 22px;
}

.contentH4{
  font-family: var(--arvo-font);
  padding: 10px 40px;
}

.fundrasingImg{
  padding: 10px 40px;
}


.aboutBtn{
  margin: 1rem 2.5rem;
}
.footer{
  position: relative;
  z-index: 1;
}

