/* video background */
.videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 980px;
}

.pageH1 {
  font-family: var(--rye);
  text-transform: uppercase;
  font-weight: 300;
  color: #2b1507;
  font-size: 32px;
}

.pageH2 {
  font-family: var(--arvo-font);
  text-transform: uppercase;
  font-weight: 700;
  color: #2b1507;
  font-size: 24px;
}
.content {
  width: 1200px;
  min-height: 400px;
  display: flex;
  justify-content: flex-end;
}

.main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentP {
  font-family: var(--arvo-font);
  padding: 10px 40px;
  font-size: 16px;
  line-height: 22px;
}

.contentLi {
  font-family: var(--arvo-font);
  padding: 10px 75px;
  font-size: 16px;
  line-height: 22px;
}
.contentH4 {
  font-family: var(--arvo-font);
  padding: 10px 40px;
}

.fundrasingImg {
  padding: 10px 40px;
}

.aboutBtn {
  margin: 1rem 2.5rem;
}

.locationBox {
  width: 670px;
}
.footer {
  position: relative;
  z-index: 1;
}

.BannerBoxTest {
  display: flex;
  flex-direction: row;
}

.contentContainer {
  display: flex;
  flex-direction: row;
}

.contactForm {
  padding: 25px;
}
