.homeBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: auto;
  background-image: url("/home-flag.svg");
  background-repeat: no-repeat;
  background-size: center;
  margin-top: -5rem;
  padding: 20px;
}

.content {
  width: 1200px;
  min-height: 400px;
  display: flex;
  justify-content: flex-end;
}

.startingAt {
  margin-top: 5px;
  font-family: var(--arvo-font);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}

.stayClean {
  margin-bottom: 5px;
  font-family: var(--arvo-font);
  font-size: 1rem;
}

.bannerPrice {
  font-family: var(--rye);
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.bannerBtn {
  margin-top: 10px;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.topLine {
  font-family: var(--rye);
  text-transform: uppercase;
  font-size: 1.5rem;
}

.middleLine {
  font-family: var(--rye);
  text-transform: uppercase;
  font-size: 1.7rem;
}
.bottomLine {
  font-family: var(--rye);
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 5px;
}
